.summary{
  width: 100%;
  margin-top: 100px;
  background-color:green;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
  padding: 50px;
  flex-wrap: wrap;
}

.searchbars{
  width: 45vh;
  height: 5vh;

}

.tagline{
  font-size: 1em;
}
.searchbars button{
  /* height: 4vh; */
  width: 15vh;
  border-radius: 10%;
  margin-top: 0.5em;
}

.inputfield{
  width: inherit;
  padding: 1em;

}