.registrationbody{
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
}

.registrationdetails{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 15px;
    padding: 30px;
    background-color: aliceblue;
}

.personaldetails{
    margin: 20px;
    padding: 60px;

}

.addressdetails{
    padding: 60px;
}

.text{
    color: brown;
    padding: 12px;
    font-weight: bold;
}
.text2{
    color: burlywood;
    font-size: xxx-large;
    font-family: cursive;
    display: flex;
    align-items: center;
    justify-content: center;
}
