.footer{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}

.footertext{
    display:contents;
    width: 30%;
}

.footertext h1{
    color: red;
    font-family: cursive;
}

.footercontact{
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.contact img{
    border-radius: 50%;
}

.footertext .meet{
    margin-bottom: 200px;
    margin-left: 40px;
    font-weight: bolder;
    font-size: xxx-large;
}

.footertext .the{
    font-weight: bolder;
    font-size: xxx-large;
    color: blue;
}

.footertext .pro{
    margin-top: 200px;
    margin-right: 40px;
    font-weight: bolder;
    font-size: xxx-large;
}


